.primary-button {
  @include font($pt-mono, $spanish-gray);
  @include relative-converter(font-size, vw, $medium, $vp-width);
  border-color: $spanish-gray;
}
.primary-button:hover {
  color: $black;
  border-color: $black;
  background-color: transparent;
}
.secondary-buttton {
  @include font($pt-mono, $white);
  @include relative-converter(font-size, vw, $medium, $vp-width);
  background-color: $shiny-shamrock;
  border-color: $shiny-shamrock;
}
.secondary-buttton:hover {
  color: $outer-space;
  background-color: $turquoise-green;
  border-color: $turquoise-green;
}
.btn {
  border-radius: 0;
  padding: 0.25em 0.5em;
}
