.header {
  display: flex;
  width: 100vw;
  height: 55vh;
  & .header__image {
    width: 70vw;
    position: relative;
    & .image {

    }
    & .image-text {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: white;
      width: 55%;
      height: 30%;
      & .text-item {

      }
    }
  }
  & .header__title {
    width: 30vw;
    & .title {

    }
    & .square-a {

    }
    & .square-b {

    }
  }
}

.square {

}
